body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#button {
  color: aquamarine;
}

#button-home {
  background-color: #cc0000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 30px;
}

#sidebar {
  position: absolute;
  left: 50px;
  top: 50px;
}

.navigation {
  position: absolute;
  left: 70px;
  top: 5px;
  list-style-type: none;
  background-color: azure;
}

.Time {
  position: absolute;
  top: 40px;
  right: 100px;
}

.checkThis {
  position: absolute;
  top: 150px;
  right: 100px;
  transform: scale(3);
}
